body {

    margin: 0%;


}

.menu{
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    justify-items: center;

}